<div class="jb-wrapper">
  <button class="btn btn-primary btn-logout" (click)="logout()">Salir</button>

  <h1>Actividades</h1>
  <form (ngSubmit)="createActivity()">
    <div class="form-group">
      <label for="">Descripción</label>
      <textarea class="form-control" [formControl]="description"></textarea>
    </div>
    <div class="form-group">
      <button class="btn btn-primary">Crear</button>
    </div>
  </form>

  <div class="jb-list">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let act of activities">
          <td scope="row">{{act.id}}</td>
          <td>{{act.title}}</td>
          <td>
            <button class="btn btn-primary" (click)="goTimes($event, act.id)">Agregar Horas</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
